.c-form-builder {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.c-form-builder__menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
  border-right: 1px solid $border-color;
  width: 140px;
  overflow: overlay;
  flex: none;
}
.c-form-builder__menu-item {
  padding: $gutter-width-extra-small $gutter-width;
  font-size: 14px;
  color: $font-color;
  cursor: pointer;
}
.c-form-builder__menu-item.js-active {
  background-color: $border-color;
}
.c-form-builder__menu-item.js-error {
  color: $brand-danger;
}

.c-form-builder__content {
  flex-grow: 1;
  overflow: auto;
  font-size: $font-size-medium;
}
.c-form-builder_with-padding_content {
  padding: $gutter-width $gutter-width 0;
}
.c-form-builder__content.js-is-hidden {
  display: none;
}

.c-form-builder__body {
  display: flex;
  flex-grow: 1;
}

.c-form-builder__content-wrapper {
  display: flex;
  flex-grow: 1;
}

.c-form-builder_no-overflow-with-padding_content {
  overflow: inherit;
  padding: $gutter-width $gutter-width 0;
}

// Inline modifier
.c-form-builder_inline {
  width: inherit;
  display: inline-block;
  width: unset;
  margin-right: $gutter-width-small;
}

.c-form-builder_inline .c-form-builder__body {
  display: inline-block;
}

.c-form-builder_inline .c-form-builder__content {
  overflow: inherit;
}

.c-form-builder_inline .c-form-builder {
  flex: inherit;
  width: inherit;
}

.c-form-builder_one-liner {
  display: flex;
  flex-direction: row;
  width: auto;
  float: left;
  margin-right: $gutter-width-small;
}
.c-form-builder_one-liner .c-form-builder__field {
  margin-right: $gutter-width-tiny;
}

.c-form-builder__form-array {
  display: flex;
  align-content: flex-end;
}
.c-form-builder__actions { 
  width: 100%;
  display: flex;
}
.c-form-builder__actions .c-button,
.c-form-builder__actions button {
  flex: 1;
}

.c-form-builder_padded_actions {
  padding: $gutter-width-small $gutter-width;
  box-sizing: border-box;
}